/*
Name: Powerline.css
Author: @vivekascoder (Github/Facebook/Instagram/Gmail)
Email: vivekascoder@gmail.com
Website: https://github.com/vivekascoder/powerline.css
*/

/* Font: FiraCode */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
/* Dealing with the Powerline */
*{
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
}
.powerline{
    display: flex;
    justify-content: left;
    margin-top: 0.5rem;
}
.powerline__component{
    background-color: yellow;
    font-size: 0.75rem;
    font-weight: 500;
    position: relative;
    padding: 3px 1.25rem;
    margin-right: -14px;
    cursor: pointer;
    clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 50%, calc(100% - 14px) 100%, 100% 100%, 0% 100%, 14px 50%);
}

/* Background */
.dracula-background{background-color: #282a36;}
.dracula-currentline{background-color: #44475a;}
.dracula-foreground{background-color: #f8f8f2;}
.dracula-comment{background-color: #6272a4;}
.dracula-cyan{background-color: #8be9fd;}
.dracula-green{background-color: #50fa7b;}
.dracula-orange{background-color: #ffb86c;}
.dracula-pink{background-color: #ff79c6;}
.dracula-purple{background-color: #bd93f9;}
.dracula-red{background-color: #ff5555;}
.dracula-yellow{background-color: #f1fa8c;}

/* Foreground */
.dracula-text-light{color: #f8f8f2;}
.dracula-text-dark{color: #282a36;}
